body {
    background-image: linear-gradient(to left ,rgba(10,12,15,0.4),rgb(220, 65, 65)),url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #101010;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin:0;
    
    }