body {
    background-image: url(../images/indir.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f7f1f1;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin:0;
    
    }