.fruit {
    position: absolute;
    width: 100px;
    height: 100px;
    object-fit: contain;
    cursor: pointer;
  }

  body{
    background-color: darkorange;
  }
  

  #game-board{
    
    width: 1000px;
    height: 1000px;



  }